page-diagnosticos {
.content-md {
    color: #424242;
    background-color: #fff;

}

 .textp {
		text-align: left;
		font-size: medium;


 }

  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  h2 {
    font-size: 12px;
    align-self: right;
    margin-top: 14px;
    margin-left: 20px;

  }	

  p {
    font-size: 12px;
    align-self: right;
    margin-top: 14px;
    margin-left: 20px;

  }	
}
